<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_v2.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <title>YOLO Object Detection</title>
  <h1>YOLO Object Detection Service</h1>
  
  <form method=post enctype=multipart/form-data>
    <input type=submit value=Detect class="btn_up" id="loading">
  </form>

  <br><br><br>
  <div class="container">
    <div class="card_left">
      <img src="{{ upload_image }}"> 
    </div>
  </div>

  <br>
  <p class="footer_text">Powered by <img src="{{ url_for('static', filename='docker.png') }}" class='footer_img'><br>Kenny Hsieh</p>
</body>
